*{
    box-sizing: border-box;
}

/* BODY */

body{
    font-family: sans-serif;
    margin: 0%;
    font-weight: bolder;
}

/* Tamaño letra general */

h1{
    font-size: 3em;
}
h2{
    font-size: 2.5em;
}
h4{
    font-size: 1.9em;
}
p{
    font-size: 1.5em;
    font-weight: normal;
}

footer p{
    font-size: 0.7em;
}

li {
    list-style: none;
}


/* Botones */

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 20px;
    border-style: groove;
    border-radius: 15px;
    border-width: 2px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1) ;
    color: rgb(255, 255, 255);
    background-color:mediumturquoise;
}

button:hover{
    background-color:rgba(185, 28, 233, 0.527) ;
}

/* CONTENEDORES */

.contenedor{
    max-width: 1400px;
    margin: auto;
}

/* Encabezado y Nav */

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 10px 25px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: rgba(185, 28, 233, 0.527);
}

header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

header a{
    padding: 12px;
    text-decoration: dotted;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

header a:hover{
    color: rgba(185, 28, 233, 0.527);
}

/* INICIO BANNER */

#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/programacionfrente.jpg);
    background-position: center center;
    background-size: cover;
    color: white;   
}

/* INICIO MIHISTORIA */

#sobremi .contenedor{
    text-align: center;
    padding: 140px 30px;
}

/* PROYECTOS */

#proyectosmios{
    text-align: center;
    background-color: rgba(17, 131, 162, 0.5);
    color: white;
    
}

#proyectosmios h2{
    color: black;
    text-decoration: underline;
}

.proyectos h4{
    color: rgb(10, 1, 9);
}

#proyectosmios .proyectos{
    background-position: center center;
    background-size: cover;
    padding: 45px 0;
    margin: 10px;
    border-radius: 12px;
    
}

#proyectosmios .contenedor{
 padding: 90px 0px;
 
}

#proyectosmios h2{
    margin-top: 0%;
}

.proyectos:first-child{
    background-image: url(img/cubo3d.jpg);
    height: 100%;
    padding: 100px 100px;
}

.proyectos:nth-child(2){
    background-image: url(img/lunasol.jpg);
    padding: 100px 100px;
    height: 100%;
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
}   

footer p{
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Media */

@media (min-width:720px){

    header{
        position: fixed;
        width: 100%;
    }
    
    header .contenedor{
        flex-direction: row;
        justify-content: space-between;
        padding-right: 14px;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
    }

    #sobremi {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/programacionnoche.jpg");
        background-position: center center;
        background-size: cover;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .imgcontenedor{
        color: white;
    }

    #proyectosmios .proyeccion{
        display: flex;
        justify-content: center;
        
    }

    .proyectos{
        width: 100%;
    }



}







/* INICIO SOBRE MI */

.bodymy{
    background-image: url("img/fasesdelaluna.jpg") ;
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
    background-position: center center;
    background-size: cover;

}




.subtitulo {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.tituloInterno{
    color: white;
}



.tituloInterno{
    font-size: 24px;
    padding: 0 0 0 20px;
    margin: 0;
}

.articulo1{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.imagen{
    float: right;
    margin: 0 0 20px 20px;
    max-width: 25%;
    height: auto;
}

.imagen2{
    float: left;
    margin: 0 20px 20px 0;
    max-width: 25%;
    height: auto;
}

.articulo1 p{
    color: white;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footersobremi{
    position: fixed;
    bottom: 0;
    width: 100%;
}


































/* INICIO FORMULARIO */

.formbody{
    background: #0d0d0d;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    padding: 80px 35px;
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    /* background: rgba(2, 23, 25, 0); */
    background-image: url(img/pexels-alex-andrews-821754.jpg);
    background-position: center center;
    background-size: cover;

}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: rgb(245, 245, 245);
    border-bottom: 1px solid #860e0e;
}

.contact-form form button {
    background: rgba(185, 28, 233, 0.527);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACTO INFO */ 

.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-form h1{
    text-align: center;
    font-size: 3rem;
    color: rgba(185, 28, 233, 0.527);
}

p label{
    color:rgba(185, 28, 233, 0.527);
    font-weight: bolder;
    
}

















/* INICIO SISTEMA SOLAR  */

#proyectodos{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.containered{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
    overflow: hidden;
}
.sun{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: rgb(255, 204, 0);
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}
.earth, .moon{
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.earth{
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: rahul 36.5s linear infinite;
}
.moon{
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: rahul 5s linear infinite;
}
.earth::before,
.moon::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}
.earth::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: rgb(80, 80, 201);
}
.moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}
@keyframes rahul{
    to{
        transform: rotate(360deg);
    }
}





/* INICIO CUBO 3D */

#black{
    background: black;
}
.contenedores1{
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 100px auto 0;
}

.cube{
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 5s infinite linear;
}

.face{
    position: absolute;
    width: 200px;
    height: 200px;
}

.top{
    background-color: rgba(255, 0, 0, .6);
    transform: rotateX(90deg) translateZ(100px);
}

.buttom{
    background-color: rgba(0, 255, 0, 0.6);
    transform: rotateX(-90deg) translateZ(100px);
}

.right{
    background-color: rgba(0, 0, 255, .6);
    transform: rotateY(90deg) translateZ(100px);
}

.left{
    background-color: rgba(255, 0, 255, .6);
    transform: rotateY(-90deg) translateZ(100px);
}

.back{
    background-color: rgba(0, 255, 255, .6);
    transform: rotateX(-180deg) translateZ(100px);
}

.front{
    background-color: rgba(255, 255, 0, .6);
    transform: rotateX(0deg) translateZ(100px);
}

@keyframes spin{
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
}




